@font-face {
    font-family: Manrope;
    src: url("/fonts/Manrope-Bold.ttf"), format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Manrope;
    src: url("/fonts/Manrope-ExtraBold.ttf"), format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: Manrope;
    src: url("/fonts/Manrope-Regular.ttf"), format('truetype');
    font-weight: 400;
    font-style: normal;
}


:root {
    --font: Manrope, sans-serif;
    --main-bg: #040C18;
    --pry-btn: #FF4820;
    --sec-btn: #FF8A71;
    --text-color: #fff;
    --text-color2: #81AFDD;
    --text-grad-1: #AE67FA;
    --text-grad2: #F49867;
    --bg-grad-1: #0F4279;
    --bg-grad-2: #1B78DE;
    --accent-color: #FF8A71;
}