.Access_section{
    display:flex; 
    padding: 5rem;
    gap:8rem
}
.Access_section_center{
    font-size: 1.2rem;
    line-height: 1.3;
    
    
   
   
}
.Access_section_center h1{
    margin-bottom: 2.4rem;
    padding: 1rem;
    background: linear-gradient(90deg, #AE67FA, #F49867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
   
}
.Access_section_center a{
    color: var(--accent-color);
    font-size: 1.5rem;
    margin-left: 2rem;
}
.left_side{
    display: flex;
    justify-content: space-between;
    gap: 6rem;

}

.left_side p{
    flex-basis: 70%;
    margin-bottom: 1.4rem;
    color: var(--text-color2);
    
}

.left_side h4{
    flex-basis: 25%;
    font-size: 1rem;
    font-weight: 500;
   
}